$main-color: #e974a3;
$main-background: #232629;
$darkened-background: #232629;

$fallback--bg: #31363b;
$fallback--fg: #31363b;
$fallback--faint: rgba(239, 240, 241, .5);
$fallback--text: #eff0f1;
$fallback--link: #3daee9;
$fallback--icon: #bdc3c7;
$fallback--lightBg: rgb(21, 30, 42);
$fallback--lightText: #eff0f1;
$fallback--border: #eff0f1;
$fallback--cRed: #bdc3c7;
$fallback--cBlue: #3daee9;
$fallback--cGreen: #3daee9;
$fallback--cOrange: #ffac33;

$fallback--alertError: #da4453;
$fallback--alertWarning: #ed1515;

$fallback--panelRadius: 10px;
$fallback--checkboxRadius: 2px;
$fallback--btnRadius: 4px;
$fallback--inputRadius: 4px;
$fallback--tooltipRadius: 5px;
$fallback--avatarRadius: 4px;
$fallback--avatarAltRadius: 10px;
$fallback--attachmentRadius: 10px;

$fallback--buttonShadow: 0px 0px 0px 1px rgba(61, 174, 233, 1) inset;

$status-margin: 0.75em;
